@model MVCEnrollmentApplication.Models.Student
<h2>
    Student of the Month
</h2>
<div class="panel">
    <div class="panel-heading">
        Here's the Student from our Student of the Month
    </div>
    <div class="panel-body">
     <p>StudentFirstName: @Model.StudentFirstName</p>
    </div>
</div>
